# Data Cleaning and Data Wrangling

## Data

Dataset contains socio-demographic and firmographic features about 2.240 
customers.

|Feature |Description|
|--:|---|
|AcceptedCmp1| 1 if customer accepted the offer in the 1st campaign, 0 otherwise|
|AcceptedCmp2| 1 if customer accepted the offer in the 2nd campaign, 0 otherwise|
|AcceptedCmp3| 1 if customer accepted the offer in the 3rd campaign, 0 otherwise|
|AcceptedCmp4| 1 if customer accepted the offer in the 4th campaign, 0 otherwise|
|AcceptedCmp5| 1 if customer accepted the offer in the 5th campaign, 0 otherwise|
|Response (target)| 1 if customer accepted the offer in the last campaign, 0 otherwise|
|Complain| 1 if customer complained in the last 2 years|
|DtCustomer| date of customer's enrollment with the company|
|Education| customer's level of education|
|Marital| customer's marital status|
|Kidhome| number of small children in customer's household|
|Teenhome |number of teenagers in customer's household|
|Income| customer's yearly household income|
|MntFishProducts| amount spent on fish products in the last 2 years|
|MntMeatProducts| amount spent on meat products in the last 2 years|
|MntFruits| amount spent on fruits products in the last 2 years|
|MntSweetProducts| amount spent on sweet products in the last 2 years|
|MntWines| amount spent on wines products in the last 2 years|
|MntGoldProds| amount spent on gold products in the last 2 years|
|NumDealsPurchases| number of purchases made with discount|
|NunCatalogPurchases| number of purchases made using catalog|
|NunStorePurchases| number of purchases made directly in stores|
|NumWebPurchases| number of purchases made through company's web site|
|NumWebVisitsMonth| number of visits to company's web site in the last month|
|Recency|number of days since the last purchase|
|Z_Revenue|revenue from the new gadget|
|Z_CostContact|cost of contact for the sixth campaign|

In [1]:
import numpy as np
import pandas as pd
import json
from pathlib import Path
from datetime import datetime
from scipy import stats
from scipy.stats import kstest

import psutil
import warnings
from sinfo import sinfo
warnings.filterwarnings("ignore")

## Data Exploration

In [2]:
# Storing path
path = Path("../data/ifood_customers.csv")

# Read CSV with pandas
data = pd.read_csv(path)

# showing a sample of the dataset
data.sample(8)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
595,4992,1975,Master,Together,17459.0,1,0,2013-09-19,12,6,...,7,0,0,0,0,0,0,3,11,1
1646,5177,1974,Master,Married,58494.0,0,1,2013-12-12,56,298,...,6,0,0,0,0,0,0,3,11,0
452,6471,1971,Master,Single,36230.0,1,0,2013-10-17,17,14,...,5,0,0,0,0,0,0,3,11,0
688,10767,1989,PhD,Together,77845.0,0,0,2014-05-16,40,760,...,1,0,0,1,1,0,0,3,11,0
517,10203,1990,Graduation,Single,26095.0,1,0,2013-06-30,77,11,...,7,0,0,0,0,0,0,3,11,0
1455,4399,1969,Graduation,Together,68695.0,0,0,2014-06-25,3,458,...,2,0,0,0,0,0,0,3,11,0
1505,3643,1974,Master,Married,63206.0,0,0,2014-03-20,65,750,...,2,0,0,1,0,0,0,3,11,0
1375,8805,1960,Graduation,Single,48904.0,0,1,2012-12-02,1,283,...,8,0,0,0,0,0,0,3,11,0

In [3]:
# Exploring the columns and dtype

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [4]:
# Exploring unique values in some columns

print("\n'Education' Column Values:\n", "\t",
      data["Education"].unique(),
      sep=''
      )

print("\n'Marital_Status' Column Values:\n", "\t",
      data["Marital_Status"].unique(),
      sep=''
      )

print("\n'Dt_Customer' Column sample:\n",
      data["Dt_Customer"].sample(3), "\n", "\t",
      sep=''
      )

'Education' Column Values:
	['Graduation' 'PhD' 'Master' 'Basic' '2n Cycle']

'Marital_Status' Column Values:
	['Single' 'Together' 'Married' 'Divorced' 'Widow' 'Alone' 'Absurd' 'YOLO']

'Dt_Customer' Column sample:
207     2013-05-13
85      2013-08-11
2035    2013-12-05
Name: Dt_Customer, dtype: object

## Creating columns

In [5]:
# Stabilizing dtype 'category' to Education and Marital_Status columns
# Also Dt_Customer to Datetime dtype and Income to 'Int64'

data["Income"] = data["Income"].astype("Int64")
data["Education"] = data["Education"].astype("category")
data["Marital_Status"] = data["Marital_Status"].astype("category")
data["Dt_Customer"] = pd.to_datetime(data["Dt_Customer"], format="%Y-%m-%d")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   category
 3   Marital_Status       2240 non-null   category
 4   Income               2216 non-null   Int64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   datetime64[ns]
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: Int64(1), category(2), datetime64[ns](1), int64(25)
memory usage: 479.8 KB

In [6]:
# Creating new columns: customer year old and days since becoming customer

today = pd.to_datetime(datetime.today().strftime('%Y-%m-%d'))

data["Year_Old"] = (today.year - data["Year_Birth"])
data["CustomerFor"] = (today - data["Dt_Customer"])

data[["Year_Old", "CustomerFor"]].sample(5)

      Year_Old CustomerFor
1656        70   4069 days
79          59   4215 days
1364        47   4011 days
1097        38   4278 days
148         51   4348 days

In [7]:
# Reordering columns

pop_column = data.pop("Dt_Customer")
data.insert(2, "Dt_Customer", pop_column)

last_columns = data.columns[-2:]
first_columns = data.columns[:2]
middle_columns = data.columns[2:-2]
new_order = list(first_columns) + list(last_columns) + list(middle_columns)

data = data[new_order]

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Year_Old             2240 non-null   int64
 3   CustomerFor          2240 non-null   timedelta64[ns]
 4   Dt_Customer          2240 non-null   datetime64[ns]
 5   Education            2240 non-null   category
 6   Marital_Status       2240 non-null   category
 7   Income               2216 non-null   Int64
 8   Kidhome              2240 non-null   int64
 9   Teenhome             2240 non-null   int64
 10  Recency              2240 non-null   int64
 11  MntWines             2240 non-null   int64
 12  MntFruits            2240 non-null   int64
 13  MntMeatProducts      2240 non-null   int64
 14  MntFishProducts      2240 non-null   int64
 15  MntSweetProducts     2240 non-null   int64
 16  MntGoldProds         2240 non-null   int64
 17  NumDealsPurchases    2240 non-null   int64
 18  NumWebPurchases      2240 non-null   int64
 19  NumCatalogPurchases  2240 non-null   int64
 20  NumStorePurchases    2240 non-null   int64
 21  NumWebVisitsMonth    2240 non-null   int64
 22  AcceptedCmp3         2240 non-null   int64
 23  AcceptedCmp4         2240 non-null   int64
 24  AcceptedCmp5         2240 non-null   int64
 25  AcceptedCmp1         2240 non-null   int64
 26  AcceptedCmp2         2240 non-null   int64
 27  Complain             2240 non-null   int64
 28  Z_CostContact        2240 non-null   int64
 29  Z_Revenue            2240 non-null   int64
 30  Response             2240 non-null   int64
dtypes: Int64(1), category(2), datetime64[ns](1), int64(26), timedelta64[ns](1)
memory usage: 514.8 KB

In [8]:
# Checking if the customer bought in the last month

data["PurchaseLastMonth"] = (data["Recency"] < 30)
data["PurchaseLastMonth"] = data["PurchaseLastMonth"].replace({True:1, 
                                                               False:0})

print(data["PurchaseLastMonth"].sample(5))

1636    1
1333    0
47      0
1038    1
1231    0
Name: PurchaseLastMonth, dtype: int64

In [9]:
# Calculating total amount spent per customer

MntSpentTotal_sum = ["MntFishProducts", "MntFruits", "MntGoldProds", 
                     "MntMeatProducts", "MntSweetProducts", "MntWines"]
data["MntSpentTotal"] = data[MntSpentTotal_sum].sum(axis=1)

print(data["MntSpentTotal"].sample(5))

1098      12
1068      18
804     1526
487      735
1229      72
Name: MntSpentTotal, dtype: int64

In [10]:
# How many campaigns the customer accepted

AcceptedCmpTotal_sum = ["AcceptedCmp1", "AcceptedCmp2", "AcceptedCmp3", 
                        "AcceptedCmp4", "AcceptedCmp5"]
data["AcceptedCmpTotal"] = data[AcceptedCmpTotal_sum].sum(axis=1)

data["AcceptedCmpTotal"].sample(5)

679     0
1857    0
1878    0
163     0
563     0
Name: AcceptedCmpTotal, dtype: int64

In [11]:
# How many children (Kids and teenagers) the customer has at home

ChildrenHome_sum = ["Kidhome", "Teenhome"]
data["ChildrenHome"] = data[ChildrenHome_sum].sum(axis="columns")

data["ChildrenHome"].sample(5)

312     0
1570    0
193     1
2064    1
229     1
Name: ChildrenHome, dtype: int64

In [12]:
NumPurchasesTotal_sum = ["NumWebPurchases", 
                         "NumCatalogPurchases", 
                         "NumStorePurchases"]

data["NumPurchasesTotal"] = data[NumPurchasesTotal_sum].sum(axis="columns")

data["NumPurchasesTotal"].sample(5)

731     15
791     16
1463     6
1586     8
358     13
Name: NumPurchasesTotal, dtype: int64

### Columns reordered

In [13]:
# Reordering columns

pop_column = data.pop("AcceptedCmpTotal")
data.insert(27, "AcceptedCmpTotal", pop_column)

pop_column = data.pop("PurchaseLastMonth")
data.insert(17, "PurchaseLastMonth", pop_column)

pop_column = data.pop("MntSpentTotal")
data.insert(11, "MntSpentTotal", pop_column)

pop_column = data.pop("ChildrenHome")
data.insert(10, "ChildrenHome", pop_column)

pop_column = data.pop("AcceptedCmp2")
data.insert(25, "AcceptedCmp2", pop_column)

pop_column = data.pop("AcceptedCmp1")
data.insert(25, "AcceptedCmp1", pop_column)

pop_column = data.pop("Response")
data.insert(30, "Response", pop_column)

pop_column = data.pop("NumPurchasesTotal")
data.insert(20, "NumPurchasesTotal", pop_column)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Year_Old             2240 non-null   int64
 3   CustomerFor          2240 non-null   timedelta64[ns]
 4   Dt_Customer          2240 non-null   datetime64[ns]
 5   Education            2240 non-null   category
 6   Marital_Status       2240 non-null   category
 7   Income               2216 non-null   Int64
 8   Kidhome              2240 non-null   int64
 9   Teenhome             2240 non-null   int64
 10  ChildrenHome         2240 non-null   int64
 11  Recency              2240 non-null   int64
 12  MntSpentTotal        2240 non-null   int64
 13  MntWines             2240 non-null   int64
 14  MntFruits            2240 non-null   int64
 15  MntMeatProducts      2240 non-null   int64
 16  MntFishProducts      2240 non-null   int64
 17  MntSweetProducts     2240 non-null   int64
 18  MntGoldProds         2240 non-null   int64
 19  PurchaseLastMonth    2240 non-null   int64
 20  NumPurchasesTotal    2240 non-null   int64
 21  NumDealsPurchases    2240 non-null   int64
 22  NumWebPurchases      2240 non-null   int64
 23  NumCatalogPurchases  2240 non-null   int64
 24  NumStorePurchases    2240 non-null   int64
 25  NumWebVisitsMonth    2240 non-null   int64
 26  AcceptedCmp1         2240 non-null   int64
 27  AcceptedCmp2         2240 non-null   int64
 28  AcceptedCmp3         2240 non-null   int64
 29  AcceptedCmp4         2240 non-null   int64
 30  AcceptedCmp5         2240 non-null   int64
 31  Response             2240 non-null   int64
 32  AcceptedCmpTotal     2240 non-null   int64
 33  Complain             2240 non-null   int64
 34  Z_CostContact        2240 non-null   int64
 35  Z_Revenue            2240 non-null   int64
dtypes: Int64(1), category(2), datetime64[ns](1), int64(31), timedelta64[ns](1)
memory usage: 602.3 KB

## Data Cleaning

In [14]:
# Missing Values

row_nan = data[data.isna().any(axis=1)]
print("Customers with missing values: ", len(row_nan))

data.drop(row_nan.index, inplace=True)

Customers with missing values:  24

In [15]:
# Identifying logically incoherent customers and dropping from the dataframe

marital_filt = data[data["Marital_Status"].isin(['Alone', 'Absurd', 'YOLO'])]
print("Customers with a logically incoherent Marital Status: ", 
      len(marital_filt))

data.drop(marital_filt.index, inplace=True)

Customers with a logically incoherent Marital Status:  7

### Kolmogorov-Smirnov test

In [16]:
# KS-Test on 'Year_Old' column
ks_result = kstest(data["Year_Old"], stats.norm.cdf, 
                   args=(data["Year_Old"].mean(), data["Year_Old"].std()))

print(f"Test statistic: {ks_result.statistic:.4f}")
print(f"p Value: {ks_result.pvalue:.4f}")

Test statistic: 0.0590
p Value: 0.0000

In [17]:
# KS-Test on 'Year_Old' column
ks_result = kstest(data["Income"], stats.norm.cdf, 
                   args=(data["Income"].mean(), data["Income"].std()))

print(f"Test statistic: {ks_result.statistic:.4f}")
print(f"p Value: {ks_result.pvalue:.4f}")

Test statistic: 0.0542
p Value: 0.0000

### Obtaining outliers

In [18]:
# Quartiles and IQR
quartiles = data["Year_Old"].quantile([0.25, 0.75])
iqr = quartiles[0.75] - quartiles[0.25]

# Identify Outliers
lower_bound = quartiles[0.25] - 1.5 * iqr
upper_bound = quartiles[0.75] + 1.5 * iqr

# Filtering
Year_Old_outliers = data[(data["Year_Old"] < lower_bound) | 
                (data["Year_Old"] > upper_bound)]

print("IQR: ", iqr)
print("outliers: ")
print(Year_Old_outliers[["ID", "Year_Old", "Income", "CustomerFor", 
                "Marital_Status", "MntSpentTotal"]])

# Extracting Outliers from the Dataset
data.drop(Year_Old_outliers.index, inplace=True)

IQR:  18.0
outliers:
        ID  Year_Old  Income CustomerFor Marital_Status  MntSpentTotal
192   7829       124   36640   3948 days       Divorced             65
239  11004       131   60182   3715 days         Single             22
339   1150       125   83532   3948 days       Together           1853

In [19]:
# Quartiles and IQR
quartiles = data["Income"].quantile([0.25, 0.75])
iqr = quartiles[0.75] - quartiles[0.25]

# Identify Outliers
lower_bound = quartiles[0.25] - 1.5 * iqr
upper_bound = quartiles[0.75] + 1.5 * iqr

# Filtering
income_outliers = data[(data["Income"] < lower_bound) | 
                (data["Income"] > upper_bound)]

print("IQR: ", iqr)
print("outliers: ")
print(income_outliers[["ID", "Year_Old", "Income", "CustomerFor", 
                "Marital_Status", "MntSpentTotal"]]\
                    .sort_values("Income", ascending=False))

# Extracting logically incoherent Outlier from the Dataset
income_excluded = data.drop(2233, inplace=True)

IQR:  33383.5
outliers:
         ID  Year_Old  Income CustomerFor Marital_Status  MntSpentTotal
2233   9432        47  666666   4064 days       Together             62
617    1503        48  162397   4063 days       Together            107
687    1501        42  160803   4366 days        Married           1717
1300   5336        53  157733   4062 days       Together             59
164    8475        51  157243   3792 days        Married           1608
1653   4931        47  157146   4098 days       Together           1730
2132  11181        75  156924   3976 days        Married              8
655    5555        49  153924   3814 days       Divorced              6

In [20]:
# Storing excluded entries

data_excluded = pd.concat([income_excluded, 
                          Year_Old_outliers, 
                          marital_filt, 
                          row_nan])

print(data_excluded[["ID", "Year_Old", "Income", "CustomerFor", 
                "Marital_Status", "MntSpentTotal"]]\
                    .sort_values("ID"))

         ID  Year_Old  Income CustomerFor Marital_Status  MntSpentTotal
153      92        36   34176   3720 days          Alone             89
131     433        66   61331   4148 days          Alone            632
2177    492        51   48432   4291 days           YOLO            424
339    1150       125   83532   3948 days       Together           1853
133    1295        61    <NA>   3994 days        Married            725
2061   1612        43    <NA>   4066 days         Single             47
10     1994        41    <NA>   3898 days        Married             19
312    2437        35    <NA>   4063 days        Married           1611
319    2863        54    <NA>   3982 days         Single           1052
1382   2902        66    <NA>   4336 days       Together             45
2081   3117        69    <NA>   3926 days         Single            450
1386   3769        52    <NA>   3791 days       Together             42
1383   4345        60    <NA>   3840 days         Single             21
2134   4369        67   65487   3842 days         Absurd           1169
2078   5079        53    <NA>   4155 days        Married             97
2084   5250        81    <NA>   3914 days          Widow           1564
27     5255        38    <NA>   4166 days         Single            637
92     5798        51    <NA>   3890 days       Together            985
2059   7187        55    <NA>   4079 days       Together            721
48     7244        73    <NA>   3851 days         Single            124
43     7281        65    <NA>   3908 days         Single            186
138    7660        51   35860   3713 days          Alone             49
2093   7734        31   79244   4229 days         Absurd           1216
192    7829       124   36640   3948 days       Divorced             65
128    8268        63    <NA>   4025 days        Married            404
58     8557        42    <NA>   4049 days         Single             46
2228   8720        46    <NA>   4358 days       Together           1679
90     8996        67    <NA>   4259 days        Married            603
91     9235        67    <NA>   3705 days         Single             18
2079  10339        70    <NA>   4043 days       Together            207
1379  10475        54    <NA>   4126 days       Together            317
71    10629        51    <NA>   4325 days        Married            109
239   11004       131   60182   3715 days         Single             22
2202  11133        51   48432   4291 days           YOLO            424

## New Categorical columns

In [21]:
# Age binning categories

print(data["Year_Old"].describe()[["min", "mean", "max"]])

bins = [25, 35, 45, 55, 65, 75, 2000]
labels = ["25_34", "35_44", "45_54", "55_64", "65_74", "75_above"]

data["Age_cat"] = pd.cut(data["Year_Old"], bins, labels=labels, right=False)

print("\n", data[["ID", "Year_Old", "Age_cat", "Income"]].sample(5), sep='')

min     28.000000
mean    55.101134
max     84.000000
Name: Year_Old, dtype: float64

        ID  Year_Old Age_cat  Income
1807  3130        60   55_64   18701
2041  4974        54   45_54   83273
1451  6652        59   55_64   77343
1475  3697        70   65_74   39898
1394  2587        52   45_54   29791

In [22]:
# Income binning categories

print(data["Income"].describe()[["min", "mean", "max"]])

labels = [f"D{i+1}" for i in np.arange(0,10)]

data["Income_cat"] = pd.cut(data["Income"], 10, precision=0, labels=labels)

print("\n", data[["ID", "Age_cat", "Income", "Income_cat"]].sample(5), sep='')

min          1730.0
mean    51954.61542
max        162397.0
Name: Income, dtype: Float64

        ID   Age_cat  Income Income_cat
103   9370  75_above   65846         D4
1547  5636     55_64   30983         D2
1196  2246     55_64   46891         D3
1085  6295     45_54   54233         D4
1315  6197     55_64   27238         D2

In [23]:
# Total amount spent binning categories

print(data["MntSpentTotal"].describe()[["min", "mean", "max"]])

data["MntTotal_cat"], intervals = pd.cut(data["MntSpentTotal"], 6, 
                                         precision=0, retbins=True)

# Exploring bins:
# print("\n", data["MntTotal_cat"].value_counts().sort_index(), sep='')

# Creating new, more descriptive bins
temp, first_int = pd.cut(np.arange(2, 426), 5, retbins=True)
bins = list(first_int) + list(intervals[2:])

data["MntTotal_cat"], intervals = pd.cut(data["MntSpentTotal"], bins, 
                                         precision=0, right=False, 
                                         retbins=True)

print("\n", data[["ID", "Age_cat", 
                  "Income", "MntTotal_cat", 
                  "MntSpentTotal"]].sample(5), sep='')

min        5.000000
mean     607.380499
max     2525.000000
Name: MntSpentTotal, dtype: float64

         ID Age_cat  Income      MntTotal_cat  MntSpentTotal
226    7375   45_54   51369    [425.0, 845.0)            576
1904  10951   55_64   45688    [256.0, 340.0)            306
342    9707   55_64   55212   [845.0, 1265.0)           1182
1411   9121   45_54   80134  [1685.0, 2105.0)           1690
1502   3340   45_54   42014    [425.0, 845.0)            436

In [24]:
# Recency binning categories

print(data["Recency"].describe()[["min", "mean", "max"]])

labels = ["0_24", "25_49", "50_74", "75_99"]

data["Recency_cat"] = pd.cut(data["Recency"], 4, precision=0, labels=labels)

print("\n", data[["MntTotal_cat", "Age_cat", 
                  "Income_cat", "Recency_cat"]].sample(5), sep='')

min      0.000000
mean    49.082993
max     99.000000
Name: Recency, dtype: float64

         MntTotal_cat Age_cat Income_cat Recency_cat
704    [171.0, 256.0)   55_64         D3        0_24
493   [845.0, 1265.0)   55_64         D4       75_99
2107   [425.0, 845.0)   45_54         D5        0_24
1395   [425.0, 845.0)   65_74         D4        0_24
2097   [256.0, 340.0)   65_74         D4       25_49

In [25]:
# Check duplicated customers
duplicated = data["ID"].duplicated().any()
print(f"There are duplicated customers based on 'ID' column?: {duplicated}")

There are duplicated customers based on 'ID' column?: False

In [26]:
# standardizing int dtype

for col in data.columns:
    if data[col].dtype == "int64":
        data[col] = data[col].astype("Int64")

## Saving new Dataset

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2205 entries, 0 to 2239
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2205 non-null   Int64
 1   Year_Birth           2205 non-null   Int64
 2   Year_Old             2205 non-null   Int64
 3   CustomerFor          2205 non-null   timedelta64[ns]
 4   Dt_Customer          2205 non-null   datetime64[ns]
 5   Education            2205 non-null   category
 6   Marital_Status       2205 non-null   category
 7   Income               2205 non-null   Int64
 8   Kidhome              2205 non-null   Int64
 9   Teenhome             2205 non-null   Int64
 10  ChildrenHome         2205 non-null   Int64
 11  Recency              2205 non-null   Int64
 12  MntSpentTotal        2205 non-null   Int64
 13  MntWines             2205 non-null   Int64
 14  MntFruits            2205 non-null   Int64
 15  MntMeatProducts      2205 non-null   Int64
 16  MntFishProducts      2205 non-null   Int64
 17  MntSweetProducts     2205 non-null   Int64
 18  MntGoldProds         2205 non-null   Int64
 19  PurchaseLastMonth    2205 non-null   Int64
 20  NumPurchasesTotal    2205 non-null   Int64
 21  NumDealsPurchases    2205 non-null   Int64
 22  NumWebPurchases      2205 non-null   Int64
 23  NumCatalogPurchases  2205 non-null   Int64
 24  NumStorePurchases    2205 non-null   Int64
 25  NumWebVisitsMonth    2205 non-null   Int64
 26  AcceptedCmp1         2205 non-null   Int64
 27  AcceptedCmp2         2205 non-null   Int64
 28  AcceptedCmp3         2205 non-null   Int64
 29  AcceptedCmp4         2205 non-null   Int64
 30  AcceptedCmp5         2205 non-null   Int64
 31  Response             2205 non-null   Int64
 32  AcceptedCmpTotal     2205 non-null   Int64
 33  Complain             2205 non-null   Int64
 34  Z_CostContact        2205 non-null   Int64
 35  Z_Revenue            2205 non-null   Int64
 36  Age_cat              2205 non-null   category
 37  Income_cat           2205 non-null   category
 38  MntTotal_cat         2203 non-null   category
 39  Recency_cat          2205 non-null   category
dtypes: Int64(32), category(6), datetime64[ns](1), timedelta64[ns](1)
memory usage: 686.6 KB

In [28]:
# Saving DataFrame as csv
data.to_csv("../data/ifood_cleaned.csv", index=False)

# Saving dtypes of each column
data_dtypes = data.dtypes.to_frame('dtypes').reset_index()
dict = data_dtypes.set_index('index')['dtypes'].astype(str).to_dict()

with open('../data/cleaned_dtypes.json', 'w') as f:
    json.dump(dict, f)

# Storing excluded rows
data.to_csv("../data/ifood_excluded.csv", index=False)

In [29]:
# Notebook info
process = psutil.Process()
memory_used = process.memory_info().rss / (1024 ** 2)  # MB

print(f"\n\tMemory used: {memory_used:.2f} MB\n")

sinfo(
    na=True,
    os=True,
    cpu=False,
    jupyter=True,
    std_lib=True,
    write_req_file=False,
)

	Memory used: 149.75 MB

-----
datetime    NA
json        2.0.9
numpy       1.26.4
pandas      2.2.2
pathlib     NA
psutil      6.0.0
scipy       1.14.0
sinfo       0.3.1
warnings    NA
-----
IPython             8.26.0
jupyter_client      8.6.2
jupyter_core        5.7.2
-----
Python 3.12.4 | packaged by conda-forge | (main, Jun 17 2024, 10:04:44) [MSC v.1940 64 bit (AMD64)]
Windows-10-10.0.19045-SP0
None
-----
Session information updated at 2024-07-18 09:25