# Data Cleaning and Data Wrangling

## Data

Dataset contains socio-demographic and firmographic features about 2.240 
customers.

|Feature |Description|
|--:|---|
|AcceptedCmp1| 1 if customer accepted the offer in the 1st campaign, 0 otherwise|
|AcceptedCmp2| 1 if customer accepted the offer in the 2nd campaign, 0 otherwise|
|AcceptedCmp3| 1 if customer accepted the offer in the 3rd campaign, 0 otherwise|
|AcceptedCmp4| 1 if customer accepted the offer in the 4th campaign, 0 otherwise|
|AcceptedCmp5| 1 if customer accepted the offer in the 5th campaign, 0 otherwise|
|Response (target)| 1 if customer accepted the offer in the last campaign, 0 otherwise|
|Complain| 1 if customer complained in the last 2 years|
|DtCustomer| date of customer's enrollment with the company|
|Education| customer's level of education|
|Marital| customer's marital status|
|Kidhome| number of small children in customer's household|
|Teenhome |number of teenagers in customer's household|
|Income| customer's yearly household income|
|MntFishProducts| amount spent on fish products in the last 2 years|
|MntMeatProducts| amount spent on meat products in the last 2 years|
|MntFruits| amount spent on fruits products in the last 2 years|
|MntSweetProducts| amount spent on sweet products in the last 2 years|
|MntWines| amount spent on wines products in the last 2 years|
|MntGoldProds| amount spent on gold products in the last 2 years|
|NumDealsPurchases| number of purchases made with discount|
|NunCatalogPurchases| number of purchases made using catalog|
|NunStorePurchases| number of purchases made directly in stores|
|NumWebPurchases| number of purchases made through company's web site|
|NumWebVisitsMonth| number of visits to company's web site in the last month|
|Recency|number of days since the last purchase|
|Z_Revenue|revenue from the new gadget|
|Z_CostContact|cost of contact for the sixth campaign|

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from datetime import datetime

import warnings
warnings.filterwarnings("ignore")

## Data Exploration

In [2]:
# Storing path
path = Path("../data/ifood_customers.csv")

# Read CSV with pandas
data = pd.read_csv(path)

# showing a sample of the dataset
data.sample(8)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
173,1880,1959,PhD,Together,53537.0,1,1,2014-01-30,17,81,...,5,0,0,0,0,0,0,3,11,0
1111,1524,1983,2n Cycle,Single,81698.0,0,0,2013-03-01,1,709,...,5,0,0,0,1,0,0,3,11,1
1368,4096,1968,Master,Divorced,41335.0,1,0,2013-12-26,24,112,...,7,0,0,0,0,0,0,3,11,0
1913,5831,1967,Graduation,Married,77870.0,0,1,2012-08-22,93,1017,...,8,0,1,0,1,0,0,3,11,1
1726,10905,1955,Graduation,Together,42586.0,1,1,2012-10-29,7,194,...,8,0,0,0,0,0,0,3,11,1
927,3139,1982,2n Cycle,Single,74116.0,0,0,2013-12-30,53,871,...,2,0,1,0,0,0,0,3,11,0
610,7930,1969,Master,Single,26877.0,0,0,2013-08-19,74,101,...,6,0,0,0,0,0,0,3,11,0
1027,3628,1987,Basic,Single,15038.0,1,0,2013-01-29,93,4,...,9,0,0,0,0,0,0,3,11,0

In [3]:
# Exploring the columns and dtype

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [4]:
# Exploring unique values in some columns

print("\n'Education' Column Values:\n", "\t",
      data["Education"].unique(),
      sep=''
      )

print("\n'Marital_Status' Column Values:\n", "\t",
      data["Marital_Status"].unique(),
      sep=''
      )

print("\n'Dt_Customer' Column sample:\n",
      data["Dt_Customer"].sample(3), "\n", "\t",
      sep=''
      )

'Education' Column Values:
	['Graduation' 'PhD' 'Master' 'Basic' '2n Cycle']

'Marital_Status' Column Values:
	['Single' 'Together' 'Married' 'Divorced' 'Widow' 'Alone' 'Absurd' 'YOLO']

'Dt_Customer' Column sample:
363     2012-11-23
1761    2013-03-10
1708    2014-01-02
Name: Dt_Customer, dtype: object

## Creating columns

In [5]:
# Stabilizing dtype 'category' to Education and Marital_Status columns
# Also Dt_Customer to Datetime dtype

data["Education"] = data["Education"].astype("category")
data["Marital_Status"] = data["Marital_Status"].astype("category")
data["Dt_Customer"] = pd.to_datetime(data["Dt_Customer"], format="%Y-%m-%d")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   category
 3   Marital_Status       2240 non-null   category
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   datetime64[ns]
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: category(2), datetime64[ns](1), float64(1), int64(25)
memory usage: 477.6 KB

In [6]:
# Creating new columns: customer year old and days since becoming customer

today = pd.to_datetime(datetime.today().strftime('%Y-%m-%d'))

data["Year_Old"] = (today.year - data["Year_Birth"])
data["CustomerFor"] = (today - data["Dt_Customer"])

data[["Year_Old", "CustomerFor"]].sample(5)

      Year_Old CustomerFor
289         75   4041 days
1708        46   3838 days
1665        39   4035 days
930         50   3742 days
1180        74   4192 days

In [7]:
# Reordering columns

pop_column = data.pop("Dt_Customer")
data.insert(2, "Dt_Customer", pop_column)

last_columns = data.columns[-2:]
first_columns = data.columns[:2]
middle_columns = data.columns[2:-2]
new_order = list(first_columns) + list(last_columns) + list(middle_columns)

data = data[new_order]

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Year_Old             2240 non-null   int64
 3   CustomerFor          2240 non-null   timedelta64[ns]
 4   Dt_Customer          2240 non-null   datetime64[ns]
 5   Education            2240 non-null   category
 6   Marital_Status       2240 non-null   category
 7   Income               2216 non-null   float64
 8   Kidhome              2240 non-null   int64
 9   Teenhome             2240 non-null   int64
 10  Recency              2240 non-null   int64
 11  MntWines             2240 non-null   int64
 12  MntFruits            2240 non-null   int64
 13  MntMeatProducts      2240 non-null   int64
 14  MntFishProducts      2240 non-null   int64
 15  MntSweetProducts     2240 non-null   int64
 16  MntGoldProds         2240 non-null   int64
 17  NumDealsPurchases    2240 non-null   int64
 18  NumWebPurchases      2240 non-null   int64
 19  NumCatalogPurchases  2240 non-null   int64
 20  NumStorePurchases    2240 non-null   int64
 21  NumWebVisitsMonth    2240 non-null   int64
 22  AcceptedCmp3         2240 non-null   int64
 23  AcceptedCmp4         2240 non-null   int64
 24  AcceptedCmp5         2240 non-null   int64
 25  AcceptedCmp1         2240 non-null   int64
 26  AcceptedCmp2         2240 non-null   int64
 27  Complain             2240 non-null   int64
 28  Z_CostContact        2240 non-null   int64
 29  Z_Revenue            2240 non-null   int64
 30  Response             2240 non-null   int64
dtypes: category(2), datetime64[ns](1), float64(1), int64(26), timedelta64[ns](1)
memory usage: 512.6 KB

In [8]:
# Checking if the customer bought in the last month

data["PurchaseLastMonth"] = (data["Recency"] < 30)
data["PurchaseLastMonth"] = data["PurchaseLastMonth"].replace({True:1, 
                                                               False:0})

print(data["PurchaseLastMonth"].sample(5))

1736    0
1693    0
1863    0
749     1
556     0
Name: PurchaseLastMonth, dtype: int64

In [9]:
# Calculating total amount spent per customer

MntSpentTotal_sum = ["MntFishProducts", "MntFruits", "MntGoldProds", 
                     "MntMeatProducts", "MntSweetProducts", "MntWines"]
data["MntSpentTotal"] = data[MntSpentTotal_sum].sum(axis=1)

print(data["MntSpentTotal"].sample(5))

270     1635
1876     835
1811    1143
2149      88
1505     928
Name: MntSpentTotal, dtype: int64

In [10]:
# How many campaigns the customer accepted

AcceptedCmpTotal_sum = ["AcceptedCmp1", "AcceptedCmp2", "AcceptedCmp3", 
                        "AcceptedCmp4", "AcceptedCmp5", "Response"]
data["AcceptedCmpTotal"] = data[AcceptedCmpTotal_sum].sum(axis=1)

data["AcceptedCmpTotal"].sample(5)

1119    0
1880    1
2118    0
286     0
415     0
Name: AcceptedCmpTotal, dtype: int64

In [11]:
# How many children (Kids and teenagers) the customer has at home

ChildrenHome_sum = ["Kidhome", "Teenhome"]
data["ChildrenHome"] = data[ChildrenHome_sum].sum(axis="columns")

data["ChildrenHome"].sample(5)

985     1
853     2
1394    1
1833    1
1557    1
Name: ChildrenHome, dtype: int64

## All columns reordered

In [12]:
# Reordering columns

pop_column = data.pop("AcceptedCmpTotal")
data.insert(27, "AcceptedCmpTotal", pop_column)

pop_column = data.pop("PurchaseLastMonth")
data.insert(17, "PurchaseLastMonth", pop_column)

pop_column = data.pop("MntSpentTotal")
data.insert(11, "MntSpentTotal", pop_column)

pop_column = data.pop("ChildrenHome")
data.insert(10, "ChildrenHome", pop_column)

pop_column = data.pop("AcceptedCmp2")
data.insert(25, "AcceptedCmp2", pop_column)

pop_column = data.pop("AcceptedCmp1")
data.insert(25, "AcceptedCmp1", pop_column)

pop_column = data.pop("Response")
data.insert(30, "Response", pop_column)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Year_Old             2240 non-null   int64
 3   CustomerFor          2240 non-null   timedelta64[ns]
 4   Dt_Customer          2240 non-null   datetime64[ns]
 5   Education            2240 non-null   category
 6   Marital_Status       2240 non-null   category
 7   Income               2216 non-null   float64
 8   Kidhome              2240 non-null   int64
 9   Teenhome             2240 non-null   int64
 10  ChildrenHome         2240 non-null   int64
 11  Recency              2240 non-null   int64
 12  MntSpentTotal        2240 non-null   int64
 13  MntWines             2240 non-null   int64
 14  MntFruits            2240 non-null   int64
 15  MntMeatProducts      2240 non-null   int64
 16  MntFishProducts      2240 non-null   int64
 17  MntSweetProducts     2240 non-null   int64
 18  MntGoldProds         2240 non-null   int64
 19  PurchaseLastMonth    2240 non-null   int64
 20  NumDealsPurchases    2240 non-null   int64
 21  NumWebPurchases      2240 non-null   int64
 22  NumCatalogPurchases  2240 non-null   int64
 23  NumStorePurchases    2240 non-null   int64
 24  NumWebVisitsMonth    2240 non-null   int64
 25  AcceptedCmp1         2240 non-null   int64
 26  AcceptedCmp2         2240 non-null   int64
 27  AcceptedCmp3         2240 non-null   int64
 28  AcceptedCmp4         2240 non-null   int64
 29  AcceptedCmp5         2240 non-null   int64
 30  Response             2240 non-null   int64
 31  AcceptedCmpTotal     2240 non-null   int64
 32  Complain             2240 non-null   int64
 33  Z_CostContact        2240 non-null   int64
 34  Z_Revenue            2240 non-null   int64
dtypes: category(2), datetime64[ns](1), float64(1), int64(30), timedelta64[ns](1)
memory usage: 582.6 KB

## Saving new Dataset

In [13]:
data.to_csv("../data/ifood_customers_cleaned.csv")